<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eceapp.ChitChat">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ChitChat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="eceapp.ChitChat.Home"
            android:label="ChitChat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="eceapp.ChitChat.AddUser"
            android:label="ChitChat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="eceapp.ChitChat.SplashScreen"
            android:label="ChitChat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="eceapp.ChitChat.CreateGroup"
            android:label="ChitChat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="eceapp.ChitChat.JoinGroup"
            android:label="ChitChat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="eceapp.ChitChat.SendMessages"
            android:label="ChitChat"></activity>
    </application>

</manifest>

